.Query {
  width: 100%;
  height: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background: var(--blue-100);
  padding-right: 10px;
}

.Input {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  flex: 1 0 50%;
  padding-left: 30px;
}

.Input::placeholder {
  font-size: 20px;
  line-height: 24px;
}

.Button {
  background-color: var(--blue-900);
  display: block;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--blue-600);
}

@media (max-width: 600px) {
  .Button {
    display: none;
  }
}